<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>備品一覧画面</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
    <p>ログイン成功</p>
    <p>管理者用</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-default btn-xs" value="ログアウト" />
    </form>
    <h2>
        <form th:action="@{/tools/create}" method="post">
            <button type="submit" class="bbtn btn-info" name="form">新規登録</button>
        </form>
    </h2>
    <h2>
        <form th:action="@{/tools/search}" method="post">
            <button type="submit" class="bbtn btn-info" name="form">備品検索</button>
            <!--th:value="${result.id}"-->
        </form>
    </h2>
    <h2>備品一覧</h2>
    
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>管理コード</th>
                <th>管理番号</th>
                <th>品名</th>
                <th>型番</th>
                <th>メーカー</th>
                <th>購入日</th>
                <th>耐用年数</th>
                <th>減価償却</th>
                <th>使用不可</th>
                <th>貸出可能</th>
                <th>設置場所</th>
                <th>使用期限</th>
                <th>仕様</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <!-- 備品一覧の表示 -->
            <tr th:each="tool : ${tools}" >
                <td th:text="${tool.managementcode}">0</td>
                <td th:text="${tool.managementNo}">0</td>
                <td th:text="${tool.productName}">test</td>
                <td th:text="${tool.modelNumber}">0</td>
                <td th:text="${tool.maker}">a</td>
                <td th:text="${tool.purchaseDate}">2000-10-10</td>
                <td th:text="${tool.serviceLife}">a</td>
                <td th:text="${tool.depreciation}">a</td>
                <td th:text="${tool.usageProhibited} ? '不可' : '可能'">true</td>
                <td th:text="${tool.availableForRent} ? '可能' : '不可'">true</td>
                <td>
                    <span th:each="location : ${tool.installationLocation}">
                        <span th:text="${location}"></span>
                        <span th:if="${!#strings.endsWith(iterator.index, #numbers.sequence('1', '4'))}">1</span>
                    </span>
                </td>
                <td th:text="${tool.expirationDate}">2000-10-10</td>
                <td th:text="${tool.specification}">a</td>
                <td>
                    <form th:action="@{/tools/edit}" method="post">
                        <button type="submit" class="btn btn-primary" name="form" th:value="${tool.id}">編集</button>
                    </form>
                    <form th:action="@{/tools/delete(param.id=${tool.id})}" method="post">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？');">削除</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
</body>
</html>

